{% extends "myapp/base.html" %}
{% load static %}

{% block content %}
<!-- Enlazar el CSS del registro -->
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="container">
    <div class="left-section">
        <div class="overlay">
            <h1>MIXIFY</h1>
            <h2>Inicia sesion</h2>
        </div>
    </div>
    <div class="right-section">
        <h1>Inicia sesion</h1>
        <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Crea una cuenta </a></p>
        <form method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit" class="register-btn">Iniciar sesion</button>
        </form>
    </div>
</div>
{% endblock %}